@font-face {
    font-family: 'TTLakes';
    src: url('fonts/TTLakes-Bold.eot'),
        url('fonts/TTLakes-Bold.ttf'),
        url('fonts/TTLakes-Bold.woff');
    font-weight: bold;
}

@font-face {
    font-family: 'TTLakes';
    src: url("fonts/TTLakes-DemiBold.eot"),
        url("fonts/TTLakes-DemiBold.ttf"),
        url("fonts/TTLakes-DemiBold.woff");
    font-weight: 600;
}

@font-face {
    font-family: 'TTLakes';
    src: url("fonts/TTLakes-Regular.eot"),
        url("fonts/TTLakes-Regular.ttf"),
        url("fonts/TTLakes-Regular.woff");
    font-weight: 500;
}