$color-white:          #FFFFFF;
$color-line:           #D9FFF5;
$color-button:         #FF3E79;
$color-main:           #F8F8F8;
$color-divider:        #EAEAEA;
$color-highlight:      #41F6D7;
$color-focus:          #B8FFEC;
$color-text:           #7E7E82;
$color-text--dark:     #1B1C21;
$color-bullet:         #7b7c81;
$color-bullet--active: #B5B6BC;
$color-shadow:         #c3bccf;
$color-input:          #B5B6BC;

